<ng-container>
  <app-sidebar></app-sidebar>
</ng-container>

<div class="container-dashborad">
  <div class="card-info">
    <div class="card-data">
      <span>More Selling</span>
      <h2>{{bestGameWorld[0]}}</h2>
    </div>

    <div class="card-data">
      <span>Calification</span>
      <h2>{{bestGameWorld[1]}}</h2>
    </div>
  </div>

  <div class="container-graph">

    <div class="card w6">
      <h5 class="title-chart">Best games</h5>
      <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>
    </div>
    
    <div class="card w3">
      <h5 class="title-chart">More Selss</h5>
      <p-chart type="pie" [data]="pieData" [options]="pieOptions"></p-chart>
    </div>

    <div class="card w6">
      <h5 class="title-chart">North America - Europa - Japan - Rest of World</h5>
      <p-chart type="bar" [data]="barData2" [options]="barOptions2"></p-chart>
    </div>

  </div>
</div>
<app-footer></app-footer>
