<div class="hero">
  <div class="container-hero-img">
    <img class="hero-img" src="../../../assets/img2.jpg" alt="">
  </div>
</div>
<div class="container-games">
  <h2 style="padding-top: 4rem;">Ultimas Noticias</h2>
  <div class="contaienr-last-news">
    <div class="container-last">
      <h2>Novedades Mayo PS4</h2>
      <iframe class="last-videos" width="560" height="315" src="https://www.youtube.com/embed/oUwIxY1cA0Y"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div class="container-last">
      <h2>Novedades Mayo XSbox</h2>
      <iframe class="last-videos" width="560" height="315" src="https://www.youtube.com/embed/HiV9Z6AzzXg"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
  </div>
  <div class="divider"></div>
  <h2 style="margin-top: 4rem;">Juego del año</h2>
  <div class="container-game-of-year">
    <div class="container-last width-info">
      <iframe class="last-videos" width="560" height="315" src="https://www.youtube.com/embed/rBuf3NSvppM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="container-info width-info">
      <h3>Horizon Call of the Mountain</h3>
      <p>Horizon Call of the Mountain ha llegado junto a PS VR2 para demostrar todo lo que es capaz de hacer el nuevo headset de realidad virtual de PS5, y vaya si lo consigue: comenzando por su sobrecogedor despliegue audiovisual y pasando por la manera en la que aprovecha la retroalimentación háptica del casco y los mandos, además de por lo divertido de sus mecánicas de combate y escalada, este nuevo juego de la saga Horizon se presenta como una superproducción que ilusiona y nos hace fantasear tanto con el futuro de los videojuegos como con el de la realidad virtual.
      </p>
    </div>
  </div>
</div>