<div class="container-games">
  <h2>Ultimas Noticias</h2>
  <div class="contaienr-last-news">
    <div class="container-last">
      <h2>Novedades Mayo PS4</h2>
      <iframe class="last-videos" width="560" height="315" src="https://www.youtube.com/embed/oUwIxY1cA0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="container-last">
      <h2>Novedades Mayo XSbox</h2>
      <iframe class="last-videos" width="560" height="315" src="https://www.youtube.com/embed/oUwIxY1cA0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</div>