.container-games {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contaienr-last-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-last{
  text-align: center;
}

.last-videos{
  margin: 1rem;
}